.machine {
  font-size: 1.5em;
  font-family: 'NotoSans-Light';
  margin-left: 25px;
}

.card_list {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.card {
  height: 400px;
  width: 350px;
  margin: 25px;
  display: inline-block;
  background-color: #ffffff15;
}

.card_content {
  padding: 25px 0px;
  height: 75%;
  width: 80%;
  margin: 0px auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  /* .card_list でnowrapしているので折り返すとき必須*/
  white-space: normal;
}

.uploadTime {
  opacity: 0.4;
}

.deletebtn {
  text-align: center;
  height: 35px;
  line-height: 35px;
  background: #4d050593;
  margin: 0px 50px;
}

.new_deta_form {
  position: fixed;
  z-index: 999;
  top: 25vh;
  /* left: 25vw; */
  display: none;

  background-color: #1e1e1ef0;
  border: 1px solid #ccc;
  /* height: 40%; */
  width: 60%;
  margin-left: 20%;
  padding: 25px;
}

.new_deta_form_text {
  width: 100%;
}
.new_deta_form_text > form {
  margin-left: 10%;
}

.new_deta_form_text > h1 {
  font-size: 1.5em;
}

.new_deta_form_text input[type="text"] {
  width: 80%;
  height: 25px;
  margin-bottom: 15px;
}

.new_deta_form_text input[type="submit"] {
  margin-left: 40%;
  margin-top: 25px;
}

.showDetaFormBtn::before {
  animation: fadeIn 2s ease 0s 1 normal;
  content: '+';
  font-size: 2em;
}

.hiddenDetaFormBtn::before {
  animation: fadeIn 2s ease 0s 1 normal;
  content: '-';
  font-size: 2em;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}