@import "reset.css";

*{font-family:"游ゴシック体", "Yu Gothic", YuGothic, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif}

@font-face {
  font-family: "NotoSans-Light";
  src: url("../font/NotoSans-unhinted/NotoSans-ExtraLight.ttf");
}

body {
  background-color: #1e1e1ef0;
  color: #ccc;
}

.line {
  padding: 15px 0px;
}

.subline {
  padding: 5px 0px;
}

.ds_header {
  height: 55px;
  background-color: #1e1e1e;
  color: #fff;
  line-height: 2em;
  padding: 15px;
}
.ds_header > .header_title {
  font-family: "NotoSans-Light", serif;
  font-size: 2em;
  position: absolute;
}
.ds_header > p {
  line-height: 2em;
  float: right;
}
.notice {
  border: 2px solid #ccc;
  width: 80vw;
  margin-left: 10vw;
  padding: 15px;

}

.host_address {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
  border: solid 1px #ccc;
  background: #000;
}